<!DOCTYPE html>
<html lang="en-US" class="has-navbar-fixed-top">

<head>
  <title>Zuckerpunch - Privacy</title>
  <meta charset="utf-8">
  <link href="../../images/icon.svg" rel="icon" />
  <link rel="stylesheet" type="text/css" href="installed.css">
  <script src="installed.js"></script>  
</head>
<body>
  <div class="container">
    <div id="header">
      <img src="../../images/icon.svg" id="logo" />
      <h1>Zuckerpunch</h1>
      <div>Events In Our Hands</div>
    </div>
    <hr />
    <div class="splash">
      <div class="privacy-selection">
        <h2>Privacy</h2>
        <p>Can we collect the following data that personally identify you:</p>
        <ul>
          <li>
            <strong>Your IP-address</strong>
            <br />
            Without this information, the crowdsourcing service cannot technically function. <br />
            We only use this for functional operation and spam prevention. We do not share it.
    '      </li>
        </ul>
        <p>
          If you choose not to allow us to collect your IP-address 
          you cannot contribute to the crowdsourcing service.
        </p>
        <p>
          Full details about the personal data we collect and what 
          we do with it are provided in <a href="https://addons.mozilla.org/en-US/firefox/addon/zuckerpunch/privacy/">our Privacy Policy</a>.
        </p>
        <button class="button" id="buttonYes"><strong>Yes</strong>, I accept you collect my IP&#8209;address as stated in your Privacy Policy</button>
        <button class="button nope" id="buttonNo"><strong>No</strong>, do not collect my IP&#8209;address</button>
        <div class="clear"></div>
      </div>
      <div class="post-privacy-selection">
        <h2>Using the add-on</h2>
        <p>The add-on is operational now..</p>
        <p>Zuckerpunch collect event information in the background - simply browse events on Facebook.</p>
        <p>To see the event data collected, open the Zuckerpunch pop-up by clicking the <img src="../../images/icon.svg" width="22" height="22"/> icon in your browser toolbar.</p>
        <h4>If you want to include all possible details about events:</h4> 
          <ul>
            <li>Visit a venue's event overview page</li>
            <li>Visit the individual event pages</li>
            <li>Expand <span class="bordered">➕</span> links when available on times.</li>
          </ul>
        <h3>Getting started</h3>
        <p>You can test it by visiting <a href="https://www.google.com/search?q=site%3Afacebook.com+inurl%3A%2Fevents%2F">some of these venues</a>.</p>
        
      </div>
    </div>
  </div>
</body>
</html>
