<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="popup.css"/>
    <link rel="stylesheet" href="json-viewer.css">
  </head>
  <body>
    <div id="canvas">
      <div id="empty_splash">
        <h1>Uhh... It's dark in here...</h1>
        <h2>Browse events on Facebook to see JSON data here.</h2>
        <h3>Want inspiration? Check <a href="#" id="venuelistlink">this list of venues</a>.</h3>
      </div>
      <div id="json"></div>
      <div id="not_json" class="box">
        <div id="header">
          <img src="../../images/icon.svg" id="logo" />
          <h1>Zuckerpunch</h1>
          <div>Events In Our Hands</div>
        </div>
        <div id="crowdsource_counter">
          <p>To date you've crowdsourced 
            <strong><span id="eventCounter">..</span></strong>&nbsp;events, 
            <strong><span id="imageCounter">..</span></strong>&nbsp;event images,
            <strong><span id="creatorCounter">..</span></strong>&nbsp;creator "about" pages.
          </p>
        </div>
        <div id="crowdsource_promote">
          <p><strong>Join the crowd!</strong> Please consider joining our crowdsource effort by updating <a href="#" id="privacypolicylink">your Privacy Policy setting</a>.</p>
        </div>
        <div id="copy_to_clipboard" class="button-rounded">
          📋 COPY TO CLIPBOARD
          <textarea id="copy_helper"></textarea>
        </div>
        <div class="search-box">
          <label id="search_label">🔍 SEARCH</label>
          <input type="textbox" id="search" />
        </div>
        
        <div id="debug_panel">
          <label for="debug_json">Raw JSON collected and analyzed:</label><br/>
          <textarea id="debug_json" spellcheck="false" wrap="soft"></textarea>
        </div>
      </div>
    </div>
    <script src="json-viewer.js"></script>
    <script src="popup.js"></script>
  </body>
</html>